{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>RASIMEDICAL</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'recursos_login/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'recursos_login/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'recursos_login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'recursos_login/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'recursos_login/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'recursos_login/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'recursos_login/css/main.css' %}">
<!--===============================================================================================-->
</head>

<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">

				<div class="login100-pic js-tilt" data-tilt>
					<img src="{% static 'recursos_login/images/rasi_medicops.png' %}" alt="IMG">
				</div>

				<form class="login100-form validate-form" action="/" method="post">

					{% csrf_token %}

					<span class="login100-form-title">
						Inicio de Sesión
					</span>

					<div class="wrap-input100 validate-input" data-validate = "El documento es requerido">
						<input class="input100" type="text" id="username" name="documento" placeholder="Documento">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "La clave es requerida">
						<input class="input100" type="password" id="password" name="clave" placeholder="Clave">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
							
					{% if error_message %}
					<div id="error-message" style="color: red;">{{ error_message }}</div>
					{% endif %}

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							Entrar
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->	
	<script src="{% static 'recursos_login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'recursos_login/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'recursos_login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'recursos_login/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'recursos_login/js/login_logic.js' %}"></script>

</body>
</html>