{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <title>RASIMEDICAL</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'recursos_error/main.css' %}">

</head>

<body>

  <section class="error-container">
    <span>E</span>
    <span>R</span>
    <span>R</span>
    <span>O</span>
    <span>R</span>
  </section>
  <div class="error-message">
    <p>{{ error_message }}</p>
  </div>

</body>

</html>